
@{
    ViewBag.Title = "Products";
}


<h2>Products</h2>

@using LabJJ2.Models
@model Products



<div class="container">
    <div class="row">
        @using (Html.BeginForm("Add", "Products", FormMethod.Post))
        {
            <div class="form-group">
                @Html.LabelFor(x => x.Name)
                @Html.TextBoxFor(x => x.Name, new { @class = "form-control" , placeholder = "Enter Product Name" })
                @Html.ValidationMessageFor(x => x.Name, "Invalid Name", new { @class = "bg-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Description)
                @Html.TextAreaFor(x => x.Description, new { @class = "form-control", rows = 3, placeholder = "Enter Description" })
                @Html.ValidationMessageFor(x => x.Name, "Please enter a valid description.", new { @class = "bg-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Price)
                @Html.TextBoxFor(x => x.Price, new { @class = "form-control", placeholer = "Enter Price of Product" })
                @Html.ValidationMessageFor(x => x.Price, "Price format $---.--", new { @class = "bg-danger" })
            </div>
            <button type="submit" class="btn btn-success">Submit</button>
        }

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


